<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer un Type de Dépense</title>
</head>
<body>

<div class="container">
    <h2>Supprimer un Type de Dépense</h2>

    <form action="/typeDepense/delete/{id}" method="post" th:object="${typeDepense}">
        <input type="hidden" th:field="*{idTypeDep}" />
        <p>Voulez-vous vraiment supprimer ce Type de Dépense ?</p>
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
</div>

</body>
</html>
