<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une Opération</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Ajouter une Opération</h2>

    <!-- Formulaire pour ajouter une opération -->
    <form action="/user/operation/add" method="post" th:object="${operation}">
        <div class="form-group">
            <label for="montant">Montant:</label>
            <input type="text" class="form-control" id="montant" name="montant" th:field="*{montant}" required>
        </div>

        <div class="form-group">
            <label for="idTypeDep">Type de Dépense:</label>
            <select id="idTypeDep" name="idTypeDep" class="form-control" required>
                <option th:each="typeDepense : ${allTypesDepense}" th:value="${typeDepense.idTypeDep}" th:text="${typeDepense.nomType}"></option>
            </select>
        </div>

        <!-- Bouton de soumission du formulaire -->
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>
</body>
</html>
