<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Mes dépenses</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .list-group.limit-operations li:nth-child(n+6) {
      display: none;
    }

    .navbar {
      background-color: #343a40;
    }

    .navbar-brand, .navbar-nav .nav-link {
      color: #ffffff;
    }

    .container {
      margin-top: 50px;
    }

    .progress {
      height: 30px;
    }

    .progress-bar {
      color: #000000;
    }

    .progress-wrapper {
      position: relative;
    }

    .progress-label {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      text-align: center;
      font-weight: bold;
      font-size: large;
      color: #ffffff;
    }

    .btn-add-operation {
      margin-bottom: 20px;
    }

    .btn-modify-limit {
      font-size: 14px;
    }
  </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://localhost:8080/">Gestion des dépenses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/user/home">Mes dépenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/edit">Mon profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/suggestion">Suggestion</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h5>Ajouter une opération</h5><br>
      <button onclick="window.location.href='/user/operation/add'" class="btn btn-primary mb-3">Ajouter une Opération</button>
    </div>
    <div class="col-md-9">
      <h5>Changer de période</h5>
      <div class="row" style="text-align: center;">
        <!-- Formulaire de sélection du mois -->
        <div class="col-md-6">
          <form id="monthYearForm">
            <label for="month">Mois :</label>
            <select name="month" id="month" class="form-control form-control-sm">
              <option value="1">Janvier</option>
              <option value="2">Février</option>
              <option value="3" selected>Mars</option>
              <option value="4">Avril</option>
              <option value="5">Mai</option>
              <option value="6">Juin</option>
              <option value="7">Juillet</option>
              <option value="8">Août</option>
              <option value="9">Septembre</option>
              <option value="10">Octobre</option>
              <option value="11">Novembre</option>
              <option value="12">Décembre</option>
            </select>
        </div>
        <!-- Formulaire de sélection de l'année -->
        <div class="col-md-6">
          <label for="year">Année :</label>
          <select name="year" id="year" class="form-control form-control-sm">
            <option value="2024" selected>2024</option>
            <option value="2023">2023</option>
            <!-- Ajoutez les années nécessaires ici -->
          </select>
        </div>
        <!-- Bouton de soumission -->
        <div class="col-md-12 mt-4">
          <button style="height: 100%;" type="button" class="btn btn-primary btn-sm" onclick="submitForm()">Changer période</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>




<script>
  function submitForm() {
    var month = document.getElementById('month').value;
    var year = document.getElementById('year').value;
    window.location.href = '/user/home/' + year + '/' + month;
  }
</script>





<div class="container">

  <div class="row mt-3">
    <div th:each="summary, index : ${operationSummaryList}" class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" th:text="${summary[0]}">Type de dépense</h4>
          <div class="progress-wrapper">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar"
                   th:attr="style='width: ' + (${summary[2] != null ? summary[1] * 100 / summary[2] : 100}) + '%'"
                   style="color: #ffffff;"></div>
            </div>
            <span class="progress-label " style="color: black;"
                  th:text="|${summary[1]} / ${summary[2] != null ? summary[2] : 'Pas de limite'}|"></span>
          </div>
          <!-- Bouton pour modifier la limite -->
          <a href="/user/modifier-limite/{typeDepenseId}"
             th:href="@{/user/modifier-limite/{typeDepenseId}(typeDepenseId=${summary[3]})}"
             class="btn btn-primary btn-modify-limit mt-2">Modifier la limite</a>
          <!-- Bouton pour afficher/masquer la liste des opérations -->
          <!-- Bouton pour afficher/masquer la liste des opérations -->
          <button class="btn btn-secondary btn-toggle-list mt-2">Afficher/masquer les opérations</button>
          <!-- Liste des opérations -->
          <ul class="list-group mt-3 operation-list">
            <li class="list-group-item" th:each="detail : ${operationDetailsList[index.index]}" th:text="${detail}"></li>
          </ul>
        </div>
      </div><br>
    </div>
  </div>
</div>


<script>
  var toggleButtons = document.querySelectorAll('.btn-toggle-list');

  toggleButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      var parentCard = this.closest('.card');
      var operationList = parentCard.querySelector('.operation-list');
      operationList.style.display = operationList.style.display === 'none' ? 'block' : 'none';
    });
  });
</script>




<!-- Ajoutez ce style CSS pour styliser le tiroir -->
<style>
  .operation-list {
    display: none;
  }

</style>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
