<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une limite</title>
</head>
<body>

<div class="container">
    <h2>Modifier une limite</h2>

    <form th:action="@{/user/modifier-limite/{typeDepenseId}(typeDepenseId=${typeDepenseId})}" method="post" th:object="${limitation}">
        <label>Montant limite:</label>
        <input type="number" th:field="*{montantLim}" required/>
        <button type="submit">Modifier</button>
    </form>
</div>

</body>
</html>
