<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une limite</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:8080/">Gestion des dépenses</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/user/home">Mes dépenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/edit">Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/suggestion">Suggestion</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>Modifier une limite</h2>

    <form th:action="@{/user/modifier-limite/{typeDepenseId}(typeDepenseId=${typeDepenseId})}" method="post" th:object="${limitation}">
        <label>Montant limite:</label>
        <input type="number" th:field="*{montantLim}" required/>
        <button type="submit">Modifier</button>
    </form>
</div>

</body>
</html>
