<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestions pour améliorer l'application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .suggestion {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:8080/">Gestion des dépenses</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/user/home">Mes dépenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/edit">Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/user/suggestion">Suggestion</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <h2 class="my-4">Suggestions pour améliorer l'application</h2>

    <div class="suggestion">
        <p>Faire fonctionner le login au lieu d'utiliser uniquement l'utilisateur 1</p>
    </div>
    <div class="suggestion">
        <p>Utiliser la donnée jour de changement de mois</p>
    </div>
    <div class="suggestion">
        <p>Ajouter une description aux operations</p>
    </div>
    <div class="suggestion">
        <p>Lier une limite à un mois et un type de dépense et non pas simplement à un type dépense</p>
    </div>
    <div class="suggestion">
        <p>Ajouter des filtres et barres de recherche à la partie admin</p>
    </div>
    <div class="suggestion">
        <p>Régler le problème affichage pour les roles</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
