<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css/}" />
<head>
    <meta charset="UTF-8">
    <title>Gestion bancaire</title>
</head>
<body>
<div class="container-fluid text-center">
    <h1> Bienvenue dans l'espace de gestion des dépenses.</h1>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Consulter les clients bancaires</a>
</div>
</body>
</html>