<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une Opération</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Ajouter une Opération</h2>

    <form action="/operation/add" method="post" th:object="${operation}">
        <label for="montant">Montant:</label>
        <input type="text" id="montant" name="montant" th:field="*{montant}">

        <label for="idTypeDep">Type de Dépense:</label>
        <select id="idTypeDep" name="idTypeDep">
            <option th:each="typeDepense : ${allTypesDepense}" th:value="${typeDepense.idTypeDep}" th:text="${typeDepense.nomType}"></option>
        </select>
        <label for="idUser">Utilisateur:</label>
        <select id="idUser" name="idUser">
            <option th:each="utilisateur : ${allUtilisateurs}" th:value="${utilisateur.idUser}" th:text="${utilisateur.idUser}"></option>
        </select>

        <input type="submit" value="Ajouter">
    </form>
</div>
</body>
</html>
