<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modifier un Utilisateur</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h2>Modifier un Utilisateur</h2>

  <form th:action="@{/utilisateur/edit/{id}(id=${utilisateur.idUser})}" method="post" th:object="${utilisateur}">
    <input type="hidden" th:field="*{idUser}"/>
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" class="form-control" th:field="*{nom}" required/>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom:</label>
      <input type="text" class="form-control" th:field="*{prenom}" required/>
    </div>
    <div class="form-group">
      <label for="mail">Mail:</label>
      <input type="text" class="form-control" th:field="*{mail}" required/>
    </div>
    <div class="form-group">
      <label for="roles">Rôles:</label>
      <select id="roles" name="selectedRoleIds" class="form-control" multiple>
        <option th:each="role : ${roles}"
                th:value="${role.idRole}"
                th:text="${role.intituleRole}"
                th:selected="${#lists.contains(utilisateur.roles, role)}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>
</div>


</body>
</html>
