<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modifier un Utilisateur</title>
</head>
<body>

<div class="container">
  <h2>Modifier un Utilisateur</h2>

  <form th:action="@{/utilisateur/edit/{id}(id=${utilisateur.idUser})}" method="post" th:object="${utilisateur}">
    <input type="hidden" th:field="*{idUser}"/>
    <label>Nom: <input type="text" th:field="*{nom}" required/></label><br/>
    <label>Prénom: <input type="text" th:field="*{prenom}" required/></label><br/>
    <label>Mail: <input type="text" th:field="*{mail}" required/></label><br/>
    <label for="roles">Rôles:</label>
    <select id="roles" name="roles" multiple>
      <option th:each="role : ${allRoles}" th:value="${role.idRole}" th:text="${role.nomRole}" th:selected="${utilisateur.roles.contains(role)}"></option>
    </select>

    <!-- Ajoutez d'autres champs en fonction de votre entité -->
    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>


</div>

</body>
</html>
